@{
    ViewBag.Title = "Home Page";
}

<div id="slider">
    <div class="wraper">
        <div class="slide"><img src="~/Content/style/img/sanphamnav4.jpg" alt=""></div>
        <div class="slide"><img src="~/Content/style/img/sanphamnav5.jpg" alt=""></div>
        <div class="slide"><img src="~/Content/style/img/sanphamnav6.jpg" alt=""></div>
        <div class="slide"><img src="~/Content/style/img/sanphamnav2.jpg" alt=""></div>
        <div class="slide"><img src="~/Content/style/img/sanphamnav1.jpg" alt=""></div>
        <div class="slide"><img src="~/Content/style/img/sanphamnav3.jpg" alt=""></div>
    </div>
</div>

<div class="underslider">
    <h2>WHAT'S HOT!</h4>
</div>
<div class="grid__row">

    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    @*~/Content/style/vid/productvid1.mp4*@
                    <!--https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/originals-ss21-CC-launch-sustain-dotcom-glp-female-teaser-card-d_cfkqyp.mp4-->
                    <div class="product-video"><video loop autoplay playsinline src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/originals-ss21-CC-launch-sustain-dotcom-glp-female-teaser-card-d_cfkqyp.mp4"></video></div>
                </div>
                <div class="product-detail">
                    <h4>Follower Power Now</h4>
                    <p>Time to blossom with the far out and groovy footwear pack.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video"><video loop autoplay playsinline src="~/Content/style/vid/productvid2.mp4"></video></div>
                </div>
                <div class="product-detail">
                    <h4>STEP INTO THE FUTURE</h4>
                    <p>ADIDAS 4D FUSIO feels like a future without limits. A new dimension of freedom is here.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent"><a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a></div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>

    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/tui1.1.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Style of your</h4>
                    <p>There is no content here! It's comming soon.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>

</div>

<div class="underslider">
    <h2>NEW ARRIVAL!</h2>
</div>
<div class="grid__row">
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="underslider">
    <h2>ON SALE!</h2>
</div>
<div class="grid__row">
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="product-item">
            <div class="product-content">
                <div class="product-media">
                    <div class="product-video">
                        <img src="~/Content/style/img/giay3.jpg"></img>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Just do it</h4>
                    <p>Exclusively available now through Nike and selected retailers.</p>
                </div>
            </div>
            <div class="product-link">
                <div class="product-linkcontent">
                    <a class="link" href=""><strong>Shop now </strong><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </a>
</div>