@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="underslider">
    <h2>Login</h2>
</div>
<div class="grid__row">
    <div class="login_local">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="login_title"><h3 style="font-weight: unset;">Use a local account to log in.</h3> <hr style="margin-top: 10px;"></div>
            <div class="login_info"><label for="phonenumber"><h3>Phone number</h3></label><input type="text" name="phonenumber" id=""></div>
            <div class="login_info"><label for="password"><h3>Password</h3></label><input type="password" name="password" id=""></div>
            <div class="login_info">
                <div class="registerasnewuser"><a href="@Url.Action("Register", "User")"><i class="fas fa-user-plus"></i> Register as a new user</a></div>
                <div><input name="rememberpassword" type="checkbox"><label for="rememberpassword"> Remember me?</label> </div>
            </div>
            <div class="login_info">
                <div style="padding:20px 20px 20px 0"><a class="signup-service" href="@Url.Action("Login", "Account")">Use another services to Sign In</a></div>
                <div class="signup-button"><input type="submit" value="Sign in"></div>
            </div>
        }
    </div>
</div>

