
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coming soon</title>
    <link rel="stylesheet" href="style/comingsoon.css">
</head>

<body>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 style="color: white;" class="display-4 fw-bolder">COMING SOON</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcom Store</p>
            </div>
        </div>
    </header>
</body>

</html>
<style>
    .bg-dark {
        background-image: url(https://media1.popsugar-assets.com/files/thumbor/_liL1w3QyCLkYvs1zoeoWO7p7R0/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2015/11/03/926/n/1922398/7903a0a2f386bff9_SHOT_5_Shopping_Inspiration_0019.tif);
        /* background-color: rgba(0, 0, 0, opacity option); */
        height: 659px;
        width: 100%;
    }

    header {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .text-white-50 {
        color: rgba(255, 255, 255, 0.5);
    }

    .fw-bolder {
        font-weight: bolder;
    }

    .display-4 {
        font-size: 100px;
        font-weight: 500;
        line-height: 1.2;
    }
</style>

