<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Untitled Document</title>    
    <link href="~/Content/style/gioithieu.css" rel="stylesheet" />
</head>
<body>

    <div id="container">
        <div id="content">
            <div id="left">

                <div class="module">
                    <div class="clear"></div>
                    <div id="right">
                        <div id="slideshow">
                            <div class="slide-wrapper">
                                <div class="slide"><img img src="~/Content/style/images/s1.jpg" /></div>
                                <div class="slide"><img img src="~/Content/style/images/s22.jpg" /></div>
                                <div class="slide"><img img src="~/Content/style/images/s3.jpg" /></div>
                                <div class="slide"><img img src="~/Content/style/images/s4.jpg" /></div>
                                <div class="slide"><img img src="~/Content/style/images/s7.jpg" /></div>
                                <div class="slide"><img img src="~/Content/style/images/s8.jpg" /></div>
                            </div>
                        </div>
                    </div>
                </div>

                <article>
                    <h3>Sản phẩm Skincare</h3>
                    <div class="new_lis">
                        <div class="news_item">
                            <h4>Những sản phẩm làm đẹp bán chạy nhất hiện nay</h4>
                            <img img src="~/Content/style/images/sp1.jpg" alt="">
                            <div class="content">
                                Hệ thống GongCha chúng tôi luôn luôn cung cấp cho quý khách hàng những sản phẩm làm đẹp và chăm sóc da thịnh hành,
                                được ưa chuộng nhất hiện nay. Hãy đến với GongCha chúng tôi để quý khách có những sản phẩm làm đẹp với mức giá đảm bảo rẻ nhất thị trường hiện nay!!!
                                Trong các sản phẩm skincare, sữa rửa mặt là sản phẩm anh em sử dụng thường xuyên nhất. Do đó, anh em nên chọn cho mình những thương hiệu tốt nhất và cao cấp nhất.
                                Loại sữa rửa mặt mà các anh em nên tham khảo và sử dụng chính là GongCha. Đây là thương hiệu nổi tiếng trong lĩnh vực skincare cho nam. Sữa rửa mặt Bull Dog có nguồn gốc hữu cơ,
                                chứa các loại tinh dầu giúp làm sạch sâu mà ẫn cung cấp độ ẩm cho da. Anh em chỉ cần sử dụng sản phẩm 2 lần/ngày và cảm nhận da mặt sáng khỏe nhanh chóng. Đây là sản phẩm “đáng đồng tiền bát gạo” mà anh em nên trải nghiệm
                            </div>
                        </div>
                    </div>
                </article>

                <article>
                    <h3>Sản phẩm thời trang nam</h3>
                    <div class="new_lis">
                        <div class="news_item">
                            <h4>Những sản phẩm quần áo nam bán chạy nhất hiện nay</h4>
                            <img img src="~/Content/style/images/s11.jpg" alt="">
                            <div class="content">
                                Chào mừng quý khách hàng đã quan tâm đến mặc hàng thời trang quần áo nam tại hệ thống cửa hàng GongCha chúng tôi.
                                Ngoài các mặc hàng khác hệ thống chúng tôi chuyên cung cấp các mặc hàng thời trang quần áo nam HOT nhất hiện nay với những kiểu mẫu form dáng đa dạng và mới lạ.
                                Hãy đến với GongCha để có những sản phẩm mà mình ưng ý mà giá lại còn rẻ nhé!!!!
                                Sự đa dạng từ mẫu mã cho đến màu sắc: Các sản phẩm tại Lami có vô cùng đa dạng, có thể sử dụng được cho cả giới trẻ lẫn trung niên. Một số mẫu có thể kể đến như áo sơ mi nam, áo thun nam, quần áo thể thao nam, quần jean nam, quần short nam,…
                                Nguồn hàng VNXK với nguồn gốc từ những thương hiệu hàng đầu thế giới: Adidas, Hollister, Nike,… với thiết kế, chất lượng đáp ứng đầy đủ các tiêu chuẩn để xuất khẩu sang các nước phát triển.
                                Đầy đủ các size: M L XL XXL Big size đảm bảo phù hợp với mọi dáng người giúp chủ shop có đáp ứng được mọi yêu cầu khác nhau của khách hàng.
                            </div>
                        </div>
                    </div>

                </article>

                <article>
                    <h3>Sản phẩm túi xách</h3>
                    <div class="new_lis">
                        <div class="news_item">
                            <h4>Những sản phẩm túi xách bán chạy nhất hiện nay</h4>
                            <img img src="~/Content/style/images/s9.jpg" alt="">
                            <div class="content">
                                Ngoài các mặt hàng đa dạng khác, hệ thống GongCha chúng tôi còn cung cấp các mẫu túi xách,
                                balo với những mẫu mã độc lạ và bắt mắt, giúp cho quý khách hàng có thể có nhiều sự lựa chọn.
                                Hãy đến mà mua sắm tại của hàng GongCha chúng tôi nhé, chúng tôi đảm bảo sẽ không làm bạn thất vọng!!!
                                Mỗi khi đi ra ngoài phái mạnh chỉ cần ăn mặc gọn gàng, mang theo bên mình 1 chiếc ví bỏ túi thì chị với chị em phụ nữ lại khác,
                                với nhu cầu thiết yếu của một cô gái mỗi khi đi ngoài luôn cần mang theo vô số đồ dùng cá nhân nào là kính mắt, mỹ phẩm, ví tiền, điện thoại,… vì vậy một phụ kiện thiết yếu không thể thiếu của chị em chính là một túi xách nữ hàng hiệu 2021,
                                rộng rãi để chị em có thể sắp xếp mọi đồ mỗi khi đi ra ngoài mà k lỉnh kỉnh nhiều.
                            </div>
                        </div>

                    </div>
                </article>

                <article>
                    <h3>Sản phẩm giày dép nam nữ</h3>
                    <div class="new_lis">
                        <div class="news_item">
                            <h4>Những sản phẩm giày dép nam nữ bán chạy nhất hiện nay</h4>
                            <img img src="~/Content/style/images/sp4.jpg" alt="">
                            <div class="content">
                                Hãy đến hệ thống cửa hàng GongCha của chúng tôi để mua sắp giày dép nhé,
                                vì ở đây chúng tôi luôn cung cấp những mặc hàng mới nhất,
                                những mẫu HOT HIT nhất hiện nay với những kiểu dáng và mẫu mã độc lạ và đẹp mắt, hãy yên tâm khi chọn GongCha nhé!!!
                                Với tinh thần "Khách hàng là thượng đế, hết lòng phục vụ, nhanh chóng, kịp thời, chất lượng và hiệu quả",
                                mục tiêu của Công ty là cung cấp cho khách hàng các sản phẩm đa dạng, phong phú về chủng loại, bền, đẹp, hiện đại về mẫu mã, phù hợp với nhiều đối tượng, lứa tuổi.
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</body>
</html>


