@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="underslider">
    <h2>Find us at: 
    @*<a href="https://www.google.com/maps/place/%C4%90%E1%BA%A1i+H%E1%BB%8Dc+Hutech+Khu+E/10.855018,106.785322,16z/data=!4m5!3m4!1s0x0:0x5fb58956eb4194d0!8m2!3d10.8550427!4d106.785373?hl=vi-VN">CLICK HERE</a></h2>*@
</div>
<!-- Google map API key:
AIzaSyBlLxlfxZsByo49xiR6zGZ31v1bCI9cWl8 -->
@*<div id="map" style="width:100%;height:600px;"></div>*@

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2155138867556!2d106.65576631533426!3d10.794799261804862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529347abff53f%3A0xf949f75ac22fd78e!2zMTQ0MkIgSG_DoG5nIFbEg24gVGjhu6UsIFBoxrDhu51uZyA0LCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1627475904064!5m2!1svi!2s" width="1400px" height="600px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


<script>
    // function myMap() {
    //     var mapProp= {
    //         center:new google.maps.LatLng(51.508742,-0.120850),
    //         zoom:5,
    //     };
    //     var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    // }
    function initMap() {
        // The location of E-Hutech
        const Ehutech = { lat: 10.855018, lng: 106.785322 };
        // The map, centered at E-Hutech
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: Ehutech,
        });
        // The marker, positioned at E-Hutech
        const marker = new google.maps.Marker({
            position: Ehutech,
            map: map,
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlLxlfxZsByo49xiR6zGZ31v1bCI9cWl8&callback=initMap&libraries=&v=weekly" async></script>
